.container{
    font-size: 25px;
    padding-left: 20px;
}
.container1{
    display: flex;
    margin-bottom: 80px;
}
.container1 > div{
    flex: 1;
}
.container2{
    display: flex;
    margin-bottom: 80px;
}
.container2 > div{
    flex: 1;
}
.container3{
    display: flex;
}
.container3 > div{
    flex: 1;
}